body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:10px;
    padding:0;
    font-size: 16px;
    
}

.container {
    margin: 10px;

} 

img {
    max-width: 100%;
    height: auto;
    display:block;
    margin: 0 auto;
    max-height: 25vh;
    padding: 10px;


}
button {
    padding: 8px;
    font-size: 14px;

}

table {
    background-color: rgb(156, 235, 175);
    border-collapse:collapse;
    width: 50%;
    margin-top: 10px;
}

p, h1, h2, h3, h4, li {
    margin: 10px;
    padding-left: 10px;
}
h1 {
    font-size: 28px;
        
}

h2{
    font-size: 20px;

}

h3, li {
    font-size: 16px;
}
 
h4 {
    font-size: 16px;
    margin-top: 3px;
}

@media only screen and(max-width: 768px){

    img{
        max-height: 50vh;
    }
    table{
        width: 100%
    }
}
